<!DOCTYPE html>
<html>
    <head>
        <title>Register with Bandmatch</title>
    </head>
	{% extends 'bandmatch/base.html' %}
	{% load bootstrap %}
    <body>
	{% block body_block %}
		{% load bootstrap %}
        <h1>Register with Bandmatch</h1>

        {% if registered %}
        Bandmatch says: <strong>thank you for registering!</strong>
        <a href="/bandmatch/">Return to the homepage.</a><br />
        {% else %}
        Bandmatch says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/bandmatch/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form|bootstrap }}
            {{ player_form|bootstrap}}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
		{% endblock %}
    </body>
</html>