{% extends 'bandmatch/base.html' %}
{% load staticfiles %}

{% block title%}Bandmatch: About{% endblock %}

 {% block body_block %}

 <div class="jumbotron">
	<h2>WHAT IS THIS ALL ABOUT</h2>
	<p>Ever had trouble finding people to make music with? Ever wanted to dump the dumb bass player of your band and find a better one? Do you know good players, but they are too far away? Bandmatch is a tool for connecting performers in the same area with each other!</p><br/>

	<h2>GETTING STARTED</h2>
	<p>Getting started is easy! You need only to register, and fill in your details (name, address, instruments etc.). Then you can start looking for bands in need of your skill set, or even form a band and start looking for your dream team.</p><br/>

{% if not user.is_authenticated %}
<p>If you are new feel free to jump right in: <a class="btn btn-primary btn-lg" href="{% url 'register_profile' %}" role="button">Register here</a></p>
<p>or if you are coming back <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login here</a></p><br/>

{% endif %}
<h2> BROUGHT TO YOU BY</h2>
<p> Jaakko 2160057A@student.gla.ac.uk 2160057A <br/> Reni 2034890M@student.gla.ac.uk 2034890M <br/> Carly 2081252C@student.gla.ac.uk 2081252C <br/> Alex 2077815H@student.gla.ac.uk 2077815H </p>
</div>

 {% endblock %}
