{% extends 'bandmatch/base.html' %}
{% load staticfiles %}
{% block title %}Bandmatch: Band:- {{name}}{% endblock %}

{% load staticfiles %}
{% block body_block %}
<div class="panel panel-default">
	<div class="panel-heading">
	<img style="align:right; float:right;" src="{{pic}}" height="200" alt="A picture of {{name}}.">
	<h1> {{name}} </h1>
	</div>
	<div class="panel-body">
		  {% if is_member == 1 %}
		<a href="{% url 'edit_band' slug %}">Add/Remove players or Edit Band Details</a>
		<a style="align:right; float:right;" href="{% url 'delete_band' slug %}">Delete This Band</a>
		{% endif %}
		<div class="panel panel-info">
			<div class="panel-heading">Description</div>
			<div class="panel-body">{{description}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">Location</div>
			<div class="panel-body">{{location}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">Members</div>
		  		{% if members %}
				<ul class="list-group">
				{% for member in members %}
				<li class="list-group-item"><a class="list-group-item"href="{% url 'profile' user.username %}">{{member.user.first_name}} {{member.user.last_name}} ({{member.user.username}})</a></li>
			    {% endfor %} </ul>
		    {% else %}
			{{name}} does not have any members.
		    {% endif %}
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">Adverts</div>
			{% if adverts %}
			<ul class="list-group">
			{% for advert in adverts %}
				<li class="list-group-item"><a href="{% url 'display_advert' slug advert.id %}">{{advert}}</a></li>
			{% endfor %}
			</ul>
		{% else %}
		{{name}} does not currently have any adverts.
		{% endif %}
		</div>
	</div>
</div>

<a href="{% url 'post_advert' slug %}">Post an advert</a>
{% endblock %}

