{% extends 'bandmatch/base.html' %}
{% load staticfiles %}
{% load bootstrap %}
	<title>
		{% block title %}Edit Profile {% endblock %}
		
	</title>
	<head>
	{% block head_block %}
	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	{% endblock %}
	</head>
	<body>
{% block body_block %}
<p>{{message}}</p>
{% if is_user == 1 %}

<a href="{% url 'change_password' username %}">Change Password</a>

        <form id="user_form" method="post" action="{% url 'edit_profile' username %}"
                enctype="multipart/form-data">

            {% csrf_token %}
			{{ user_form|bootstrap }} 
			{{player_form|bootstrap}}
			<input type="submit" name="submit" value="Submit Changes" />
		</form>

{% else %}
<p><strong>You can only edit your own profile.</strong></p>
{% endif %}
			{% endblock %}
</body>