{% extends 'bandmatch/base.html' %}
{% load staticfiles %}
	{% block title %}- {{name}}{% endblock %}
		

	<body>
		{% load bootstrap %}
		{% block body_block %}
{% if is_member == 1%}

<!-- add members !!!-->
<p>Add Player</p>
<div class="container-fluid">
	<form method="post" action="{% url 'edit_band' slug %}">
	{% csrf_token %}
		<div class="input-group">
			<span class="input-group-addon">Choose a player to add to this band</span>
		    <input class="form-control" type="text" name="suggestion" value="" id="suggestion" list="options"/>
		    <!--datalist in user_list-->
		    <span class="input-group-btn">
		    	<button class="btn btn-primary" type="submit" name="submit">Add Player</button>
		    </span>
		</div>
		<div class="row" id="user_list" >		    	        
		</div> 
	</form>	
</div>

<!-- remove players -->
<p>Remove Player</p>
<div class="container-fluid">
	 <form method="post" action="{% url 'edit_band' slug %}">
		{% csrf_token %}
		<div class="input-group">
		   <span class="input-group-addon">Choose a player to remove from this band</span>
		    <input class="form-control" type="text" name="suggest_mem" value="" id="suggest_mem" list="options"/>
		    <!--datalist in user_list-->
		    <span class="input-group-btn">
		    	 <button class="btn btn-primary" type="submit" name="submit">Remove Player</button>
		    </span>
		</div>
		<div class="row" id="member_list" >		    	        
		</div>
	</form>	
</div>



<div>
<form role="form"  id="edit_band_form" method="post" action="{% url 'edit_band' slug %}">

        {% csrf_token %}
		{{band_form|bootstrap}}
    <button class="btn btn-primary" type="submit" name="submit">Save Changes</button>
</form>
</div>

{% else %}
<p> Only members of this band can edit. </p>
{% endif %}

{% endblock %}
</body>
