{% extends 'bandmatch/base.html' %}
{% load staticfiles %}
	{% block title %}- {{name}}{% endblock %}
		

	<body>
		{% load bootstrap %}
		{% block body_block %}
{% if is_member == 1%}

<!-- add members !!!-->
<p>Add Player</p>
<div class="container-fluid">
	<div class="row">
		    <form method="post" action="{% url 'edit_band' slug %}">
		    {% csrf_token %}
		    <input  class="search-query span10" type="text" name="suggestion" value="" id="suggestion" list="options"/>
		    </div>
			<div class="row" id="user_list" >		    	        
	   		</div>
		    <button class="btn btn-primary" type="submit" name="submit">Add Player</button>
		    </form>	
</div>

<!-- remove players -->
<p>Remove Player</p>
<div class="container-fluid">
	<div class="row">
		    <form method="post" action="{% url 'edit_band' slug %}">
		    {% csrf_token %}
		    <input  class="search-query span10" type="text" name="suggest_mem" value="" id="suggest_mem" list="options"/>
		    </div>
			<div class="row" id="member_list" >		    	        
	   		</div>
		    <button class="btn btn-primary" type="submit" name="submit">Remove Player</button>
		    </form>	
</div>



<div>
<form role="form"  id="edit_band_form" method="post" action="{% url 'edit_band' slug %}">

        {% csrf_token %}
		{{band_form|bootstrap}}
    <button class="btn btn-primary" type="submit" name="submit">Save Changes</button>
</form>
</div>

{% else %}
<p> Only members of this band can edit. </p>
{% endif %}

{% endblock %}
</body>
