{% extends 'bandmatch/base.html' %}
{% load staticfiles %}

	   {% block body_block %}
		<div class="page-header">
                <h1>Make a Band</h1>
            </div>
	   
                <form role="form"  id="make_band_form" method="post" action="/bandmatch/make_band/">
            <h2 class="form-signin-heading">Make a Band </h2>
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br/>
                        {{ field }}<br/>
                    {% endfor %}

                <br/>
            <button class="btn btn-primary" type="submit" name="submit">Make Band</button>
                </form>
		{% endblock %}