{% extends 'bandmatch/base.html' %}


{% block body_block %}

<!-- Tabs for recieved and sent messages -->
<form class="form-inline" id="search_form" method="post" action="{% url 'display_messages' %}">
	<p>Inbox</p>
	<input type="button" name="choice" value="Sent messages" id="sent_button" />
	<input type="button" name="choice" value="Recieved messages" id="recieved_button" />

	<div id="recieved_message_list">
	Sent messages:
{% for message in sent_messages %}
<!-- Sent messages here -->


<div class="panel panel-primary">
			<div class="panel-heading"> From <a href="{% url 'profile' message.sender">{{message.sender}}</a> at {{message.date}}</div>
			<div class="panel-body" style="max-height: 100px; overflow-y: scroll;">
			
			<div class="col-sm-2">
				<img src="{{message.sender.image.url}}" alt="Picture of {{message.sender}}" style="width:54px;height:56px">
			</div>
			<div class="col-sm-10">
				<p><b>{{message.title}}</b></p>
				{{message.content}}
			</div>				

			</div>




</div>

{% endfor %}
</div>

<!-- -->






<div id="sent_message_list">
	Recieved messages:
	{% for message in recieved_messages %}
<div class="panel panel-primary">
			<div class="panel-heading"> To:
			{% for recipiant in message.recipients.all %}
			 <a href="{% url 'profile' recipiant">{{recipiant}}</a>

			{% endfor %}
			 at {{message.date}}</div>
			<div class="panel-body" style="max-height: 100px; overflow-y: scroll;">
			
				<p><b>{{message.title}}</b></p>
				{{message.content}}

			</div>




</div>
		{% endfor %}
</div>



</form>




	



{% endblock %}