{% extends 'bandmatch/base.html' %}

    {% block body_block %}
	<p>{{messages}}</p>
        <h1>Post an advert</h1>

        <form id="advert_form" method="post" action="{% url 'post_advert' band_name_slug %}"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->

            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1">Title</span>
                <input class="form-control" id="id_title" maxlength="128" name="title" type="text" aria-describedby="sizing-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Content</span>
                <textarea class="form-control" id="id_content" name="content" rows="10" aria-describedby="sizing-addon2"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon3">Looking for someone who plays</span>
                <input class="form-control" id="id_looking_for" maxlength="256" name="looking_for" type="text" aria-describedby="sizing-addon3">
            </div>

            <!-- Provide a button to click to submit the form. -->
            <button class="btn btn-primary" type="submit" name="submit">Post</button>
        </form>

		{% endblock %}
