{% extends 'bandmatch/base.html' %}
<html>
	<title>
		{% block title %}Player - {{username}} {% endblock %}
	</title>
	<body>
		
		{% block body_block %}
		{% load staticfiles %}
		<style>
			body {
				margin-left: 200px;
				margin-right: 300px;
			}
		</style>
		<div class="container-fluid">
			<div class="row">
			    <form method="post" action="{% url 'add_player' username %}">
			    {% csrf_token %}
			    <input  class="search-query span10" type="text" name="suggest_band" value="" id="suggest_band" list="options"/>
			</div>
			<div class="row" id="your_bands_list" >		    	        
			</div>
			    <button class="btn btn-primary" type="submit" name="submit">Add to Band</button>
			    </form>	
		</div><br/>

		<img style="align:right; float:right;" src="{{pic}}" height="200" alt="A picture of {{first_name}}.">
		<h1> {{username}} </h1>
	    <p> {% if is_user == 1 %} <a href="{% url 'edit_profile' username %}">Edit Your Profile</a> {% endif %}</p>
		<p><b>Name:</b> {{first_name}} {{last_name}} <br>
		   <b>Description:</b> {{description}} <br>
		   <b>Email:</b> {{email}} <br> 
		   <b>Contact:</b> {{contact_info}} <br> 
		   <b>Location:</b>  {{location}} <br>
		   <b>Instruments:</b>
		   {% if instruments %}
			<ul>{% for instrument in instruments %}
				<li>{{instrument}}</li><p>
			    {% endfor %} </ul>
		    {% else %}
			{{first_name}} does not play any instruments.<br>
			{% endif %}
			 <b>Bands:</b>
		   {% if bands %}
			<ul>{% for band in bands %}
				<li><a href="{% url 'band' band.slug %}">{{band}}</a></li><p>
			    {% endfor %} </ul>
		    {% else %}
			{{first_name}} is not a member of any bands.
		    {% endif %}
		{% endblock %}
		</p>
	</body>
</html>
