{% extends 'bandmatch/base.html' %}
{% load staticfiles %}
{% block title %}Band Search{% endblock %}

{% block body_block %}
{% load band_search_ads %}

<table>
{% if results %}
	{% for band in results %}
	<tr>
		<td><a href="{% url 'band'  band.slug %}">{{ band.name }}</a></td>
		<td> Location: {{ band.location }}</td>
		<td> Looking for: {% for ad in band|get_ads_looking_for %}{{ad}}{% endfor %}</td>
	</tr>
	{% endfor %}
{% else %}
<p> There are no bands matching this query. <p>
{% endif %}

{% endblock %}