{% extends 'bandmatch/base.html' %}
{% load staticfiles %}
{% block title %}Band Search{% endblock %}

{% block body_block %}
{% load band_search_ads %}

<div class="panel panel-default">
	<div class="panel-heading">Results:</div>
	<div class="panel-body">
		<ul class="list-group">
		{% if results %}
		{% for band in results %}
			<li class="list-group-item">
				<td><a href="{% url 'band'  band.slug %}">{{ band.name }} </a>|&nbsp;
				<td> Location: {{ band.location }} |&nbsp;
				<td> Looking for: {% for ad in band|get_ads_looking_for %}{{ad}}{% endfor %}
			</li>
		{% endfor %}
		

{% else %}
<li class="list-group-item"> There are no bands matching this query. </li>
{% endif %}
		</ul>
	</div>
</div>

{% endblock %}