{% extends 'bandmatch/base.html' %}

{% block body_block %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>Add Recipient</p>
<div class="container-fluid">
	<div class="row">
		    <form method="post" action="{% url 'send_message' %}">
		    {% csrf_token %}
		    <input  class="search-query span10" type="text" name="suggestion" value="" id="suggestion" list="options"/>
		    </div>
			<div class="row" id="user_list" >		    	        
	   		</div>
		    <button class="btn btn-primary" type="submit" name="submit">Add Player</button>
            <button class="btn btn-primary" type="submit" name="submit">Remove Player</button>
		    

<p>Sending message to:</p>
{% for recipient in reciever_list %}
<p>{{recipient}}
{% endfor %}


        <form id="message_form" method="post" action="{% url 'send_message' %}"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            <p><label for="id_title">Title:</label> 
            <input id="id_title" maxlength="128" name="title" type="text" value="{{title}}"/></p>
            <p><label for="id_content">Content:</label> 
            <textarea cols="40" id="id_content" name="content" value="{{content}}" rows="10">{{content}}</textarea>
            </p>

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Send" />
            </form>
        </form> 
</div>
{% endblock %}