{% extends 'bandmatch/base.html' %}

{% block body_block %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1><a href="{% url 'display_messages' %}">Your Messages</a>  / Send a message</h1>

<div class="container-fluid">
		    <form method="post" action="{% url 'send_message' %}">
		    {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon">Add/Remove Recipients</span>
                <input  class="form-control" type="text" name="suggestion" value="" id="suggestion" list="options"/>
                <!--options list in user_list-->
                <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" name="submit">Add Recipient</button>
                <button class="btn btn-primary" type="submit" name="submit">Remove Recipient</button>
                </span>
            </div>
			<div class="row" id="user_list" >		    	        
	   		</div>

<ul class="list-group">
<li class="list-group-item"> Recipeints: </li>
{% for recipient in reciever_list %}
<li class="list-group-item"> {{recipient.user.first_name}} {{recipient.user.last_name}} (<a href="{% url 'profile' recipient.user.username %}">{{recipient.user.username}}</a>) </li>
{% endfor %}
</ul>

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1">Title</span>
              <input class="form-control" id="id_title" maxlength="128" name="title" type="text" value="{{title}}" aria-describedby="sizing-addon1">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Content</span>
              <textarea class="form-control" id="id_content" name="content" rows="10">{{content}}</textarea>
            </div>

            <!-- Provide a button to click to submit the form. -->
            <button class="btn btn-primary" type="submit" name="submit">Send</button>
            </form> 
</div>
{% endblock %}