{% extends 'bandmatch/base.html' %}

{% block body_block %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container-fluid">
		    <form method="post" action="{% url 'send_message' %}">
		    {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon">Add/Remove Recipients</span>
                <input  class="form-control" type="text" name="suggestion" value="" id="suggestion" list="options"/>
                <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" name="submit">Add Recipient</button>
                <button class="btn btn-primary" type="submit" name="submit">Remove Recipient</button>
                </span>
            </div>
			<div class="row" id="user_list" >		    	        
	   		</div>

<ul class="list-group">
<li class="list-group-item"> Recipeints: </li>
{% for recipient in reciever_list %}
<li class="list-group-item"> {{recipient.user.first_name}} {{recipient.user.last_name}} (<a href="{% url 'profile' recipient.user.username %}">{{recipient.user.username}}</a>) </li>
{% endfor %}
</ul>


        <form id="message_form" method="post" action="{% url 'send_message' %}"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Title</span>
              <input type="text" class="form-control" id="id_title" maxlength="128" name="title" type="text" value="{{title}}" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Content</span>
              <textarea type="text" class="form-control" id="id_content" name="content" value="{{content}}" rows="10" aria-describedby="sizing-addon2"></textarea>
            </div>

            <!-- Provide a button to click to submit the form. -->
            <button class="btn btn-primary" type="submit" name="submit">Send</button>
            </form>
        </form> 
</div>
{% endblock %}